@model IEnumerable<BancoDeSangue.Models.UsuarioModel>

@{
    ViewData["Title"] = "ListaDeUsuarios";
}

<section class="pt-3 pt-md-5 pb-md-5 pt-lg-8 bg-gray-200">
    <div class="container">
        <div class="row">
            <!--MENU LATERAL-->
            <div class="col-lg-3 mb-lg-0 mb-5 mt-8 mt-md-5 mt-lg-0">
                <ul class="nav flex-column bg-white border-radius-lg p-3 position-sticky top-10 shadow-lg">
                    <li class="nav-item">
                        <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="/Login/ListaDeUsuarios">
                            <i class="material-icons text-dark opacity-5 pe-2">widgets</i>
                            Formulários
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="/Login/ListaDeUsuarios">
                            <i class="material-icons text-dark opacity-5 pe-2">cookie</i>
                            Usuários
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="#license">
                            <i class="material-icons text-dark opacity-5 pe-2">description</i>
                            Instituições
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="#hyperlinking">
                            <i class="material-icons text-dark opacity-5 pe-2">insert_link</i>
                            Perfil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="/login">
                            <i class="material-icons text-dark opacity-5 pe-2">insert_link</i>
                            Sair
                        </a>
                    </li>
                </ul>
            </div>

            <!--LISTA -->
            <div class="col-lg-9">
                <div class="card shadow-lg mb-5">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg p-3">
                            <h3 class="text-white mb-0">Lista de Usuários</h3>
                            <p class="text-white opacity-8 mb-0">Todos os usuários estão aqui!</p>
                        </div>
                    </div>
                    <div class="card-body p-5">
                        <div class="table-responsive">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nome e Email</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tipo de Usuário</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Data de Cadastro</th>
                                        <th class="text-secondary opacity-7"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <div class="d-flex px-2 py-1">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-xs">@Html.DisplayFor(modelItem => item.nome)</h6>
                                                        <p class="text-xs text-secondary mb-0">@Html.DisplayFor(modelItem => item.email)</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="align-middle text-center text-sm">
                                                @if (item.perfil == "ADMIN")
                                                {
                                                    <span class="badge badge-sm badge-danger">ADMIN</span>
                                                } else {
                                                    <span class="badge badge-sm badge-success">USUÁRIO</span>
                                                }                                                
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-xs font-weight-bold">@Html.DisplayFor(modelItem => item.criacao)</span>
                                            </td>
                                            <td class="align-middle">
                                                <a class="text-secondary font-weight-bold text-xs" asp-controller="CadastroUsuario" asp-action="Editar" asp-route-id="@item.id">
                                                    Editar
                                                </a>
                                                
                                                @if (item.perfil != "ADMIN")
                                                {
                                                    <a class="text-secondary font-weight-bold text-xs" asp-controller="CadastroUsuario" asp-action="Apagar" asp-route-id="@item.id">
                                                        Apagar
                                                    </a>
                                                }                                                
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>